
RealToys/DebugOverlay
{
	zorder 500
	// Stats block
	container BorderPanel(RealToys/StatPanel)
	{
		metrics_mode pixels
		vert_align top
		horz_align right
		left -230 
		top 12
		width 220
		height 102
		material DebugOverlay/StatsBlockCenter
        	border_size 1 1 1 1
        	border_material DebugOverlay/StatsBlockBorder
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		container Panel(RealToys/BreakPanel)
		{
			metrics_mode pixels
			left 5 
			top 22
			width 210
			height 1
			material DebugOverlay/StatsBreak
		}
		    
		element TextArea(RealToys/CurrFps)
		{
			metrics_mode pixels
			left 5
			top 5
			width 90
			height 30
			font_name BlueHighway
			char_height 19
			caption Current FPS:
			colour_top 0.6 0.6 1
			colour_bottom 0.4 0.4 1
		}
		element TextArea(RealToys/AverageFps)
		{
			metrics_mode pixels
			left 5
			top 25
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption AVERAGE FPS:
			colour_top 0.7 0.7 1.0
			colour_bottom 0.3 0.3 0.5
		}
		element TextArea(RealToys/WorstFps)
		{
			metrics_mode pixels
			left 5
			top 40
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption WORST FPS:
			colour_top 0.7 0.7 1.0
			colour_bottom 0.3 0.3 0.5
		}
		element TextArea(RealToys/BestFps)
		{
			metrics_mode pixels
			left 5
			top 55
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption BEST FPS:
			colour_top 0.7 0.7 1.0
			colour_bottom 0.3 0.3 0.5
		}
		element TextArea(RealToys/NumTris)
		{
			metrics_mode pixels
			left 5
			top 70
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption Triangle Count:
			colour_top 0.7 0.7 1.0
			colour_bottom 0.3 0.3 0.5
		}
		element TextArea(RealToys/NumBatches)
		{
			metrics_mode pixels
			left 5
			top 85
			width 90
			height 30
			font_name BlueHighway
			char_height 16
			caption Batch Count:
			colour_top 0.7 0.7 1.0
			colour_bottom 0.3 0.3 0.5
		}
		element TextArea(RealToys/DebugText)
		{
			metrics_mode pixels
			left 230
			top 70
			width 200
			height 30
			font_name BlueHighway
			char_height 25
			colour_top 0.5 0.5 0.8
			colour_bottom 0.3 0.3 0.5
		}				
	}
}